.footer_up{
	overflow: hidden;
	border-bottom: 1px solid #ddd;
}
.footer_up .first{
	border-right: 1px solid #ddd;
}
.footer_up header p,
.footer_mid header p{
	font-size: 18px;
	font-weight: bold;
}
.footer_up header a{
	color: #009fe5;
}
.footer_up .first ul li{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.footer_up .first ul li a{
	font-size: 14px;
	line-height: 30px;
	color: #333;
}
.footer_up .first ul li a:hover{
	color: #009ef5;
	text-decoration: underline;
}
.footer_up .footer_second{
	padding: 20px;
}
.footer_up .footer_second ul{
	width: 200px;
	margin: 0 auto;
}
.footer_up .footer_second ul li{
	padding: 10px 0;
}
.footer_up .footer_second ul li p{
	color: #777;
}
.footer_up .footer_second ul li p.p{
	font-size: 16px;
	color: #000;
}
.footer_up .footer_second ul li p img{
	margin-right: 5px;
}
.footer_up .footer_last div{
	width: 220px;
	float: right;
}
.footer_up .footer_last div span{
	font-size: 18px;
	text-align: center;
}
.footer_up .footer_last div img{
	margin: 10px 20px;
}
.footer_down{
	width: 100%;
	padding: 20px 10px;
}
.footer_down p{
	margin: 0;
	text-align: center;
}
.footer_down p span,
.footer_down p a{
	color: #777;
}
.footer_down p.p1{
	float: left;
}
.footer_down p.p1 span{
	margin: 0 3px;
}
.footer_down p.p2{
	float: right;
}
.footer_down p.p2 span{
	margin: 0 5px;
}
@media (min-width: 768px) {
	.footer_up{
		padding: 40px 10px 20px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.footer_up header{
		display: flex;
		justify-content: space-between;
	}
	.footer_up div{
		padding: 0 60px 0 0;
	}
	.footer_up div:last-child{
		padding: 0;
	}
}
@media screen and (max-width: 1200px) {
	.footer_down div{
		display: flex;
		flex-direction: column;
		align-items: center;
		flex-wrap: wrap;
	}
	.footer_down p.p2{
		float: left;
	}
}
@media screen and (max-width: 767px) {
	.footer_up{
		padding: 15px 0;
	}
	.footer_mid header{
		padding: 20px 0 10px 15px;
	}
	.footer_up .footer_second ul,
	.footer_up .footer_last div{
		float: left;
	}
}